<div class="popular">

  <div class="popular__wrapper">
    <div class="container">

      <div class="popular__title">Популярні оголошення</div>

      <div class="popular__tabs">

        <ng-container *ngFor="let tab of tabsArray">


          <div class="popular__tabs-item"
               (click)="openTab(tab)"
               [class.popular__tabs-item--active]="currentTab.id === tab.id"
          >

            {{tab.name}}

          </div>


        </ng-container>


      </div>

      <app-popular-block
        [items]="data | filterBySmth: {type: filterTypePipeEnum.popular,
        comparedValue: (currentFilter$ | async) ?? {currentTab: currentTab}}"
        [currentTab]="currentTab"></app-popular-block>

    </div>
  </div>

</div>
