.popular {

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
  }

  &__item {
    box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.333333% - 20px);

    &-img {
      max-height: 250px;
      min-height: 250px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 20px;
      border-radius: 0 0 5px 5px;
    }

    &-name {
      cursor: pointer;
      font-size: 20px;
      color: #333;
      font-weight: 700;
      margin-bottom: 10px;

      &:hover {
        color: #fd8602;
      }
    }

    &-description {
      font-size: 14px;
      line-height: 27px;
      color: #333;
    }

    &-footer {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-m2 {
      font-weight: 500;
    }

    &-price {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
