.popular {

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
  }

  &__item {
    box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.333333% - 20px);

    &-img {
      position: relative;
      min-height: 250px;

      img {
        width: 100%;
        height: auto;
      }

      &:hover {
        .popular__hover {
          display: flex;
        }
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 20px;
      border-radius: 0 0 5px 5px;
    }

    &-name {
      cursor: pointer;
      font-size: 20px;
      color: #333;
      font-weight: 700;
      margin-bottom: 10px;

      &:hover {
        color: #fd8602;
      }
    }

    &-description {
      font-size: 14px;
      line-height: 27px;
      color: #333;
    }

    &-footer {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-m2 {
      font-weight: 500;
    }

    &-price {
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__hover {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    row-gap: 10px;

    button {
      display: inline-flex;
      padding: 0 20px;
      border-radius: 50px;
      background-color: #fd8602;
      height: 50px;
      font-size: 16px;
      color: #fff;
      letter-spacing: 0.5px;
      font-weight: 600;
      transition: all 0.3s ease 0s;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 20px rgb(221 116 0 / 40%);
    }

    button:last-child {
      background-color: red;
    }
  }
}
