<div class="search">

  <div class="search__wrapper">

    <div class="search__block">

      <div class="search__name">

        Нерухомість

      </div>

      <div class="search__items">

        <ng-container *ngFor="let item of searchArray">


          <div class="search__item">

            <ng-container *ngIf="item.elementType === advertElementType.select">

              <app-custom-select
                [options]="item.options"
                [placeholder]="item.placeholder"
                (currentValueEvent)="currentOption(item, $event) "
              ></app-custom-select>

            </ng-container>

            <ng-container *ngIf="item.elementType === advertElementType.input">

              <input (input)="updateValue(item, $event.target.value)" type="text" [placeholder]="item.placeholder">

            </ng-container>

          </div>

        </ng-container>

        <button (click)="filterData()">Знайти</button>

      </div>

    </div>

  </div>

</div>
